{% extends 'core/base.html' %}

{% block title %}Inicio{% endblock %}
<!-- Page Content -->
{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="text-center">
        <h1>Bienvenido a Cinex</h1>
      </div>
      <p>
        El desarrollo web es un término que define la creación de sitios web para Internet o una intranet. Para conseguirlo se hace uso de tecnologías de software del lado del servidor y del cliente que involucran una combinación de procesos de base de datos con el uso de un navegador web a fin de realizar determinadas tareas o mostrar información.
      </p>
    </div>
  </section>
{% endblock %}


   
  