{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

<!-- Contenido de la pagina -->
{% block content %}
<header>
    <!-- Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'core/img/avengers.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Los Vengadores</h3>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'core/img/bombo.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Bum ble ble</h3>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'core/img/venom.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Venom</h3>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>


  <!-- Contenido -->
  <section class="py-5">
    <div class="container">
      <div class="text-center">
        <h1>Bienvenido a Cinex</h1>
      </div>
      <p>
        El desarrollo web es un término que define la creación de sitios web para Internet o una intranet. Para conseguirlo se hace uso de tecnologías de software del lado del servidor y del cliente que involucran una combinación de procesos de base de datos con el uso de un navegador web a fin de realizar determinadas tareas o mostrar información.
      </p>
    </div>
  </section>
{% endblock %}


   
  