{% extends 'core/base.html' %}
{% load static %}
{% block title %}Noticias{% endblock %}

<!-- Contenido de la pagina -->
{% block content %}
<div class="container">
  <div class="text-center">
    <h1>Noticias</h1>
  </div>
  <p>
    Lorem Ipsum es simplemente un texto de relleno de la industria de impresión y tipografía. Lorem Ipsum ha sido el texto ficticio estándar de la industria desde la década de 1500, cuando una impresora desconocida tomó una galera de tipos y la revolvió para hacer un libro de muestras tipo. Ha sobrevivido no solo cinco siglos, sino también el salto a la composición electrónica, permaneciendo esencialmente sin cambios.
  </p>
</div>
{% endblock %}