{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio de sesion{% endblock %}
{% block content %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form action="" method="post" class="login100-form validate-form">{% csrf_token %}
					<span class="login100-form-title p-b-34">
						Inicio de sesion
					</span>

					{% if form.non_field_errors %}
						<div class="alert alert-danger" role="alert">
  					Usuario o contrase;a incorrectos, prueba de nuevo.
						</div>
					{% endif %}

					{% if 'register' in request.GET %}
						<div class="alert alert-success" role="alert">
	  					Usuario registrado correctamente, ya puede iniciar sesion.
						</div>
					{% endif %}

					{% if messages %}
					<ul class="messages">
				    {% for message in messages %}
					    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
						    <div class="alert alert-success" role="alert">
		  						{{ message }}
								</div>
							</li>
				    {% endfor %}
					</ul>
					{% endif %}

					<!-- Input Username -->
					<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input type="text" name="username" autofocus maxlength="254" requiredid="id_username" class="input100" placeholder="Nombre de usuario">
						<span class="focus-input100"></span>
					</div>
					
					<!-- Input Password -->
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
						<input type="password" name="password" requiredid="id_password" class="input100" placeholder="Contraseña">
						<span class="focus-input100"></span>
					</div>
					
					<!-- Input Acceder -->

					<div class="container-login100-form-btn">
						<p><input type="submit" class="login100-form-btn" value="Acceder"></p>
					</div>


					<div class="w-full text-center p-t-27 p-b-239">
						<span class="txt1">
							Cambiar
						</span>

						<a href="#" class="txt2">
							Nombre de usuario / Contraseña
						</a>
					</div>

					<div class="w-full text-center">
						<a href="#" class="txt3">
							Registrarse
						</a>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('{% static '/core/img/cine2.jpg' %}');"></div>
			</div>
		</div>
	</div>
{% endblock %}