{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      {% if validlink %}
        <form action="" method="post" class="login100-form validate-form">{% csrf_token %}
          <span class="login100-form-title p-b-34">
            Escriba la nueva contraseña
          </span>
          Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
          
          <!-- Input primera contraseña -->
          {{form.new_password1.errors}}
          <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
            <input type="password" name="new_password1" autofocus maxlength="254" requiredid="id_new_password1" class="input100" placeholder="Introduce la nueva contraseña">
            <span class="focus-input100"></span>
          </div>
          
          <!-- Input segunda contraseña -->
          {{form.new_password2.errors}}
          <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
            <input type="password" name="new_password2" autofocus maxlength="254" requiredid="id_new_password2" class="input100" placeholder="Repite la nueva contraseña">
            <span class="focus-input100"></span>
          </div>

          <!-- Input buttton submit -->
          <div class="container-login100-form-btn">
            <p><input type="submit" class="login100-form-btn" value="Cambiar mi contraseña"></p>
          </div>

        </form>
      {% else %}
        <div class="alert alert-danger" role="alert">
          <h3 class="mb-4">Restablecimiento de contraseña fallido</h3>
          <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
        {% endif %}
        </div>
        
      <div class="login100-more" style="background-image: url('{% static '/core/img/cine2.jpg' %}');"></div>
    </div>
  </div>
</div>

{% endblock %}




