{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form action="" method="post" class="login100-form validate-form">{% csrf_token %}
        <span class="login100-form-title p-b-34">
          Restablecimiento de contraseña enviado
        </span>
        <div class="text">
        Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.
		Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.
		</div>
      </form>
      <div class="login100-more" style="background-image: url('{% static '/core/img/cine2.jpg' %}');"></div>
    </div>
  </div>
</div>

{% endblock %}


