{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <span class="login100-form-title p-b-34">
        Restablecimiento de contraseña completado
      </span>
      <div class="text">
      Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.
  		</div>
  		<div class="w-full text-center p-t-27 p-b-239">
  			<span class="txt1">
  				Su contraseña ha sido establecida. Ahora puede seguir adelante e 
  			</span>
  			<a href="{% url 'login' %}" class="txt3">
          iniciar sesion
        </a>
      </div>
      <div class="login100-more" style="background-image: url('{% static '/core/img/cine2.jpg' %}');"></div>
    </div>
  </div>
</div>
{% endblock %}


