{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form action="" method="post" class="login100-form validate-form">{% csrf_token %}
        <span class="login100-form-title p-b-34">
          Registro
        </span>
        {{form.as_p}}
        <div>
          <p><input type="submit" class="login100-form-btn" value="Confirmar"></p>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

